<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.sy.chainproject">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
            android:name=".config.IApplication"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".activity.LoginActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTask">

        </activity>

        <activity android:name=".activity.MainActivity"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.RegisterActivity"/>
        <activity android:name=".activity.ForgetActivity"/>
        <activity android:name=".activity.DownActivity"/>
        <activity android:name=".activity.WeeklySalesActivity"/>
        <activity android:name=".activity.CaptureActivity"/>
        <activity android:name=".activity.BarCodeActivity"/>
        <activity android:name=".activity.CodeResultsActivity"/>
        <activity android:name=".activity.GenerateCodeActivity"/>
        <activity android:name=".activity.ImageViewPagerActivity"/>
        <activity android:name=".activity.BluetoothActivity"/>
        <activity android:name=".activity.HelpActivity"/>
        <activity android:name=".activity.TransshipmentActivity"/>
        <activity android:name=".activity.TransshipmentAddActivity"
                  android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".activity.ReceivingDetailActivity"
                  android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".activity.ReceivingNoteActivity"/>
        <activity android:name=".activity.QueryActivity"/>
        <activity android:name=".activity.ReturnGoodsActivity"/>
        <activity android:name=".activity.RetailActivity"/>
        <activity android:name=".activity.RetailHistoryActivity"/>
        <activity android:name=".activity.RHistoryDetailActivity"/>
        <activity android:name=".activity.InventoryActivity"/>
        <activity android:name=".activity.MonthlyReportActivity"/>
        <activity android:name=".activity.HistoryStatementActivity"/>
        <activity android:name=".activity.CashBankActivity"/>
        <activity android:name=".activity.VIPActivity"/>
        <activity android:name=".activity.VIPRegisterActivity"/>
        <activity android:name=".activity.TransshipmentDetailActivity"/>
        <activity android:name=".activity.ReturnGoodsDetailActivity"/>
        <activity android:name=".activity.ReturnGoodsAddActivity"
                  android:windowSoftInputMode="adjustPan|stateHidden"/>

        <service android:name=".download.DownLoadServer"/>
        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.sy.chainproject.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <!-- 元数据 -->
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>